<h1>Animals that have been adopted</h1>

<table>
  <tr>
    <th></th>
    <th>name</th>
    <th>type</th>
    <th>breed</th>
    <th>owner name</th>
    <th></th>
  </tr>

    <% @animals.each do |animal| %>
    <tr>
      <td><img style="width: 100px"src="<%= animal.profile_pic %>" ></td>
      <td><%= animal.name %></td>
      <td><%= animal.type %></td>
      <td><%= animal.breed %></td>
      <td><%= animal.owner.full_name %></td>
      <td><a href="/animals/<%= animal.id %>">Show Animal Profile</a></td>
    </tr>
    <% end %>

</table>
