<h1>Animals that have been adopted</h1>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Type</th>
    <th>Breed</th>
    <th>Owner Name</th>
    <th>Current Status</th>
    <th></th>
  </tr>

    <% @animals.each do |animal| %>
    <tr>
      <td><img style="width: 100px"src="<%= animal.profile_pic %>" ></td>
      <td><%= animal.name %></td>
      <td><%= animal.breed %></td>
      <td><%= animal.type %></td>
      <td><%= animal.owner.full_name %></td>
      <td><%= animal.status %></td>
      <td><a href="/animals/<%= animal.id %>">View <%= animal.name %>'s Profile</a></td>
    </tr>
    <% end %>

</table>
