<h1>Animals that have already found a new home!</h1>
<hr>
<table class=full_table>
  <tr>
    <th scope="col"></th>
    <th scope="col">Name</th>
    <th scope="col">Type</th>
    <th scope="col">Owner Name</th>
    <th scope="col">Current Status</th>
    <th scope="col"></th>
  </tr>

    <% @animals.each do |animal| %>
    <tr>
      <td scope="row"><img class="polaroid" style="width: 100px"src="<%= animal.profile_pic %>" ></td>
      <td scope="row"><%= animal.name %></td>
      <td scope="row"><%= animal.type %></td>
      <td scope="row"><%= animal.owner.full_name %></td>
      <td scope="row"><%= animal.status %></td>
      <td scope="row"><form action="/animals/<%= animal.id %>" method="get">
      <input type="submit" value="View <%= animal.name %>'s Profile">
      </form></td>
    </tr>
    <% end %>

</table>
