<h1>Animals currently available for adoption</h1>

<table class=full_table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Type</th>
    <th>Breed</th>
    <th>Admission Date</th>
    <th></th>
  </tr>

    <% @animals.each do |animal| %>
    <tr>
      <td><img style="width: 100px"src="<%= animal.profile_pic %>" ></td>
      <td scope="row"><%= animal.name %></td>
      <td><%= animal.breed %></td>
      <td><%= animal.type %></td>
      <td><%= animal.admission_date %></td>
      <td><form action="/animals/<%= animal.id %>" method="get">
      <input type="submit" value="View <%= animal.name %>'s Profile">
      </form></td>
    </tr>
    <% end %>

</table>
