<h1>Update <%= @animal.name %> the <%= @animal.type %></h1>

<form action="/animals/<%=@animal.id%>" method="post">

  <div class="">
    <label for="name">Name: </label><br>
    <input type="text" name="name" id="name" value="<%= @animal.name %>"/>
  </div>

  <div class="">
    <label for="admission_date">Admission Date: </label><br>
    <input type="text" name="admission_date" id="admission_date" value="<%= @animal.admission_date %>"/>
  </div>

  <div class="">
    <label for="type">Type: </label><br>
    <input type="text" name="type" id="type" value="<%= @animal.type %>"/>
  </div>

  <div class="">
    <label for="breed">Breed: </label><br>
    <input type="text" name="breed" id="breed" value="<%= @animal.breed %>"/>
  </div>

  <div class="">
    <label for="age">Age: </label><br>
    <input type="number" name="age" id="age" min="0" value="<%= @animal.age %>"/>
  </div>

  <table>
    <tr>
      <th></th>
      <th>Yes</th>
      <th>No</th>
    </tr>
    <tr>
      <td><label for="child_friendly">Is the animal child friendly? </label></td>
      <td><input type="radio" name="child_friendly" value="t" <%= "checked" if @animal.child_friendly == "t"%>></td>
      <td><input type="radio" name="child_friendly" value="f" <%= "checked" if @animal.child_friendly == "f"%>></td>
    </tr>
    <tr>
      <td><label for="needs_outside_space">Does the animal need space outside? </label></td>
      <td><input type="radio" name="needs_outside_space" value="t" <%= "checked" if @animal.needs_outside_space == "t"%>></td>
      <td><input type="radio" name="needs_outside_space" value="f" <%= "checked" if @animal.needs_outside_space == "f"%>></td>
    </tr>
    <tr>
      <td><label for="needs_exercise">Does the animal require plenty of exercise? </label></td>
      <td><input type="radio" name="needs_exercise" value="t" <%= "checked" if @animal.needs_exercise == "t"%>></td>
      <td><input type="radio" name="needs_exercise" value="f" <%= "checked" if @animal.needs_exercise == "f"%>></td>
    </tr>
  </table><br>

  <div class="form">
    <label for="profile_pic">Profile picture URL: </label><br>
    <input type="text" name="profile_pic" id="profile_pic" value="<%= @animal.profile_pic %>"/>
  </div>

  <div class="form">
    <label>
    Select current owner:
      <select class="form-select" name="owner_id">
        <option value="<%= @animal.owner_id%>">Please update current owner...</option>
        <% for owner in @owners %>
        <option value="<%= owner.id %>"><%= owner.full_name %></option>
        <% end %>
      </select>
    </label>
  </div>

  <div class="form">
    <label for="status">Status: </label>
    <select class="form-select" name="status" id="status">
      <option value="<%= @animal.status%>">Please update...</option>
      <option value="available">Available</option>
      <option value="in training">Currently in training</option>
      <option value="in vet care">Currently in vet care</option>
      <option value="adopted">Adopted</option>
    </select>
  </div>

  <div class="">
    <input type="submit" value="Confirm changes"/>
  </div>

  <div class="">
    <a href="/animals/<%= @animal.id %>">Cancel</a>
  </div>


</form>
