

<h1>All Animals</h1>



<% for animal in @animals %>
<p><img style="width: 100px"src="<%= animal.profile_pic %>" ></p>
<p>Name: <%= animal.name() %> </p>
<p>Type: <%= animal.type %> </p>
<p>Admission date: <%= animal.admission_date %></p>
<p>Status: <%= animal.status %></p>
<p>Current owner: <%= animal.owner.full_name %></p>
<p><a href="/animals/<%= animal.id %>">View Animal Profile</a></p>

<hr>

<% end %>
