

<h1>All Animals</h1>


<div>
  <% for animal in @animals %>
  <p><img class="polaroid-index" style="height: 200px;" src="<%= animal.profile_pic %>" ></p>
  <p>Name: <%= animal.name() %> </p>
  <p>Type: <%= animal.type %> </p>
  <p>Admission date: <%= animal.admission_date %></p>
  <p>Status: <%= animal.status %></p>
  <p>Current owner: <%= animal.owner.full_name %></p>
  <form action="/animals/<%= animal.id %>" method="get">
  <input type="submit" value="View <%= animal.name %>'s Profile">
  </form>
<br>


<hr>
</div>
<% end %>
