

<h1>All Animals</h1>


<div>
  <% for animal in @animals %>
  <a href="/animals/<%= @animal.id %> class="polaroid-index" style="height: 200px;" src="<%= animal.profile_pic %>" ></a>
  <p>Name: <%= animal.name() %> </p>
  <p>Type: <%= animal.type %> </p>
  <p>Admission date: <%= animal.admission_date %></p>
  <p>Status: <%= animal.status %></p>
  <p>Current owner: <%= animal.owner.full_name %></p>
  <p><a href="/animals/<%= animal.id %>">View <%= animal.name %>'s Profile</a></p>

<hr>
</div>
<% end %>
