<div>
  <h1>Animals that meet search criteria</h1>
  <% for animal in @animals do %>
  <div>
    <p><img style="width: 100px"src="<%= animal.profile_pic %>" ></p>
    <p>Name: <%= animal.name %> </p>
    <p>Type: <%= animal.type %> </p>
    <p>Breed: <%= animal.breed %> </p>
    <p>Current owner: <%= animal.owner.full_name %></p>
    <p>Current status: <%= animal.status %></p>
    <form action="/animals/<%= animal.id %>" method="get">
    <input type="submit" value="View <%= animal.name %>'s Profile">
    </form>

    <hr>
  </div>
  <% end %>
</div>
