<h1><%=@animal.name%></h1>

<p><img class="polaroid-profile" align="top" style="width: 600px" src="<%= @animal.profile_pic %>" ></p>
<p>Name: <%= @animal.name %> </p>
<p>Type: <%= @animal.type %> </p>
<p>Breed: <%= @animal.breed %> </p>
<p>Age: <%= @animal.age %> </p>
<p>Admission date: <%= @animal.admission_date %></p>
<p>Child friendly? <%= @animal.kid_friendly %></p>
<p>Outdoor space required? <%= @animal.outside_space %></p>
<p>Exercise requirements: <%= @animal.exercise %></p>
<p>Current owner: <%= @animal.owner.full_name %></p>
<p>Current status: <%= @animal.status %></p><br>

<form action="/animals/<%= @animal.id %>/edit" method="get">
  <input type="submit" value="Update <%= @animal.name %>">
</form><br>

<form action="/animals/<%= @animal.id %>/delete" method="post">
  <input type="submit" value="Delete <%= @animal.name %>">
</form>
