<p><img style="width: 500px"src="<%= @animal.profile_pic %>" ></p>
<p>Name: <%= @animal.name %> </p>
<p>type: <%= @animal.type %> </p>
<p>breed: <%= @animal.breed %> </p>
<p>age: <%= @animal.age %> </p>
<p>status: <%= @animal.status %></p>
<p>child friendly?: <%= @animal.kid_friendly %></p>
<p>Outdoor space required?: <%= @animal.outside_space %></p>
<p>Exercise requirements: <%= @animal.exercise %></p>
