<h1>Animals currently in training</h1>

<table class=full_table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Type</th>
    <th>Admission Date</th>
    <th>Status</th>
    <th>Current Owner</th>
    <th></th>
  </tr>

  <% @animals.each do |animal| %>
  <tr>
    <td><img class="polaroid" style="width: 100px"src="<%= animal.profile_pic %>" ></td>
    <td><%= animal.name %></td>
    <td><%= animal.type %></td>
    <td><%= animal.admission_date %></td>
    <td><%= animal.status %></td>
    <td><%= animal.owner.full_name %></td>
    <td><form action="/animals/<%= animal.id %>" method="get">
    <input type="submit" value="View <%= animal.name %>'s Profile">
    </form></td>
  </tr>
  <% end %>

</table>
