<h1><%= @owner.full_name %></h1>

<p>First Name: <%= @owner.first_name %></p>
<p>Last Name: <%= @owner.last_name %></p>
<p>Location: <%= @owner.location %></p>
<p>Children restrictions: <%= @owner.needs_children_friendly %></p>
<p>Outside area: <%= @owner.outdoor_space %></p>
<p>Lifestyle: <%= @owner.owner_exercise %></p>


<a href="/owners/<%= @owner.id %>/edit">Edit <%= @owner.full_name %></a>
<form action="/owners/<%= @owner.id %>/delete" method="post">
<input type="submit" value="Delete <%= @owner.full_name %>">
</form>
